<h1>YIT Content</h1>
<p>
    <br>
    <h1>
        Front End Fundamentals:
        <a href="/assets/frontend_fundamentals_part1.zip" download>Front End Part 1</a>
        |
        <a href="/assets/frontend_fundamentals_part2.zip" download>Front End Part 2</a>
        <br>
        <hr>

        <br>
        Back End Fundamentals:
        <a href="/assets/backend_fundamentals.zip" download>Back End</a>
        <br>
        <hr>

        <br>
        Reactjs:
        <a href="/assets/reactjs-part1.zip" download>React.js Part 1</a>
        |
        <a href="/assets/reactjs-part2.zip" download>React.js Part 2</a>
        |
        <a href="/assets/reactjs-part3.zip" download>React.js Part 3</a>
        |
        <a href="/assets/reactjs-part4.zip" download>React.js Part 4</a>
        <br>
        <hr>

        <br>
        Java with Spring:
        <a href="/assets/java_with_spring.zip" download>Java with Spring</a>
        <br>
        <hr>

        <br>
        Ruby on Rails:
        <a href="/assets/ruby_on_rails.zip" download>Ruby on Rails</a>
        <br>

    </h1>
</p>
